:root {
    --primary-clr: rgba(230, 185, 5, 0.753);
    --primary-clr-hover: rgb(241, 232, 187);
    --primary-clr-dark: rgb(41, 38, 38);
    --primary-clr-dark-hover: rgb(41, 38, 38, 0.2);
    --secondary-clr: rgb(214, 0, 23);
    --font-clr-light: white;
    --font-clr-dark: black;
    --animation-time: 0.4s;
    --font: 'Roboto Mono', monospace;

}

* {
    font-family: 'Roboto Mono', monospace !important;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../assets/fonts/RobotoMono.ttf') format('truetype');
}

body {
    margin: 0;
}

.sidebar-container {
    background-color: var(--primary-clr);
    width: 280px;
    height: 100vh;
    position: relative;
    overflow: hidden;
    transition: transform var(--animation-time) ease-in-out;
    transform: translateX(0);
}


.sidebar-container.collapsed {
    transform: translateX(-100%);
}

.top-inner-siderbar {
    padding: 20px 0px 0px 10px;
}

.top-inner-siderbar li {
    list-style: none;
    padding: 0px 0px 10px 0px;
}

.top-inner-siderbar button {
    border: none;
    background-color: inherit;
    font-size: 1rem;
    width: 95%;
    height: 3rem;
    text-align: left;
    border-radius: 5px;
    display: flex;
    justify-content: left;
    align-items: center;

}

.top-inner-siderbar button:hover {
    cursor: pointer;
    background-color: var(--primary-clr-hover);
}

.top-inner-siderbar button img {
    filter: brightness(0) saturate(100%);
    width: 20px;
    height: 20px;
    margin-right: 7px;
}

.user-profile-img {
    border-radius: 999px;
    width: 4rem;
    height: 4rem;
}

.user-profile {
    height: 3rem !important;
    width: 80% !important;
    display: flex;
}

.user-profile h3 {
    margin-left: 5px;
    font-weight: 700;
}

.drop-down {
    margin-left: auto;
}

.menu-control {
    margin-left: auto;
    margin-right: 10px;
    width: 2rem !important;
    height: 2rem !important;
}

.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.resizer {
    width: 5px;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}


.menu-control-content {
    margin-top: 30px;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: white;
    transition: transform var(--animation-time) ease;
    transform: translateX(-200rem);
}

.menu-control-content.visible {
    transform: translateX(-13rem);
    opacity: 1;
    pointer-events: auto;
}

.menu-control-content img {
    filter: brightness(0) saturate(100%);
    width: 20px;
    height: 20px;
}

.menu-control-content:hover {
    cursor: pointer;
}

.active-tab {
    color: var(--secondary-clr);
}

.layout-container {
    display: flex;
    height: 100vh;
}

.main-content {
    width: 100%;
}

.task-input-area {
    margin-top: 5rem;
}

.add-task-input-btn {
    border: none;
    background-color: inherit;
    font-size: larger;
    display: flex;
    gap: 5px;
    margin-left: 1rem;
}

.add-task-input-btn:hover {
    color: var(--secondary-clr);
    cursor: pointer;
}

.add-task-input-btn:hover img {
    filter: brightness(0) saturate(100%) invert(18%) sepia(95%) saturate(7474%) hue-rotate(346deg) brightness(91%) contrast(119%);
}

.user-task {
    border: 1px solid rgba(82, 82, 82, 0.247);
    margin: 2rem;
    padding: 30px;
    width: 20rem;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.user-task .task-value,
.user-task .task-desc {
    border: none;
    outline: none;
}

.task-value {
    font-size: large;
}

.task-desc {
    color: var(--font-clr-dark);
}

.user-task .delete-task-btn {
    border: none;
    outline: none;
    background-color: inherit;
    color: red;
    width: 30px;
    font-size: large;
}

.user-task .task-priority,
.user-task .task-date,
.user-task .task-add {
    width: 10rem;
}

.task-top-container {
    display: grid;
    grid-template-columns: repeat(3);
}



.user-task .task-add {
    background-color: var(--primary-clr);
    border: none;
    height: 25px;
    width: 10.5rem;
}

.user-task .task-add:active {
    padding: 2px;
}